.acb-buttons {
    position: fixed;
    /* Varsayılan pozisyon sağ alt olarak ayarlanabilir */
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.acb-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.acb-button:hover {
    opacity: 0.8;
}

/* Buton tiplerine göre farklı stiller eklenebilir */
.acb-whatsapp {
    background-color: #25D366;
}

.acb-email {
    background-color: #D44638;
}

.acb-phone {
    background-color: #34B7F1;
}

.acb-form {
    background-color: #FF9900;
}
